.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;


      & .link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & li {
          width: auto;

          & a {
            text-decoration: none;
            color: #b52404;
            & span {
              font-size: 18px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }




    &-nameProject{
      order: 999;
      padding-right: 10px;
      margin-left: auto;
      color: black;
      font-size: 30px;
    }
}