

body {
  background-color: #f8ffe8;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.chat-list {
  background-color: white;
  border-radius: 10px;
}

.menu-title {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  &_item {
    margin-right: 10px;
  }
}