.chatList {
  box-sizing: border-box;
  height: 50vh;
  width: 100%;
  background-color: #40ad40;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: left;
  overflow-y: scroll;

  & .chatListUl {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }
  
  & .chatListItem {
    background-color: #7bc60b;
    border: 1px solid #000;
    width: 100%;
    margin: 5px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    & .red {
      margin-left: 10px;
      background-color: #c60b27;
      height: 20px;
      width: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
    }
  }
}