.header-container {
    width: 100%;
    min-height: 50px;
    background-color: #38296d;
}

h2 {
    color: antiquewhite;
    padding: 10px;
}
.menu-container {
    display: flex;
    flex-direction: row;
}

.menu-list {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: start;
    text-decoration: none;
    color: antiquewhite;
}

.menu-list:hover {
    color: darkmagenta;
}


