.message {
  padding: 5px 10px;
  margin: 10px auto;

  &-author {
    font-size: 0.75rem;
    color: #a2a1a1;
  }

  &-sender {
    align-self: flex-end;
  }
  &-incoming {
    align-self: flex-start;
  }


}